<div class="container w-25 mt-5" style="background-color:#F8F9FA; padding:24px; border-radius:15px;">
  <h1>Edit Flat</h1>

  <%= render "form", flat: @flat %>

  <br>

  <div>
    <%= link_to "Back ", flats_path %>
  </div>
</div>
